@media screen and (min-width: 769px) {
  .portfolio-popup {
    display: none;
    position: absolute;
    justify-content: center;
    top: 0;
    width: 100%;
  }

  .blur {
    filter: blur(4.5px);
  }

  .div-button {
    display: flex;
    gap: 4%;
  }

  .projectbutton {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    align-content: center;
    width: 142px;
    height: 40px;
    border: 1px solid var(--navy);
    border-radius: 8px;
    color: #396df2;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    gap: 15px;
  }

  .popup-div {
    width: 80%;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
  }

  .popup-image {
    width: 100%;
  }

  .div-title {
    padding-right: 4%;
    padding-left: 4%;
  }

  .div-top {
    padding-right: 4%;
    padding-left: 4%;
  }

  .div-bottom {
    display: flex;
    padding-right: 4%;
    padding-left: 4%;
  }

  .frame-title {
    display: flex;
    justify-content: space-between;
  }

  .portfolio1cancel {
    height: 24px;
    margin-top: 25px;
  }

  .frame-canopy {
    display: flex;
  }

  .canopyimage {
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
    height: 8px;
  }

  .frame-language {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }

  .popup-description {
    width: 60%;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .bottom-list {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    gap: 4%;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio-popup {
    display: none;
    position: absolute;
    justify-content: center;
    top: 0;
    width: 100%;
  }

  .blur {
    filter: blur(4.5px);
  }

  .div-button {
    display: flex;
    gap: 4%;
  }

  .projectbutton {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    align-content: center;
    width: 142px;
    height: 40px;
    border: 1px solid var(--navy);
    border-radius: 8px;
    color: #396df2;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    gap: 15px;
  }

  .popup-div {
    width: 80%;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
  }

  .popup-image {
    width: 100%;
  }

  .div-title {
    padding-right: 4%;
    padding-left: 4%;
  }

  .div-top {
    padding-right: 4%;
    padding-left: 4%;
  }

  .div-bottom {
    display: flex;
    flex-direction: column;
    padding-right: 4%;
    padding-left: 4%;
  }

  .frame-title {
    display: flex;
    justify-content: space-between;
  }

  .portfolio1cancel {
    height: 24px;
    margin-top: 25px;
  }

  .frame-canopy {
    display: flex;
  }

  .canopyimage {
    margin-top: 16px;
    margin-right: 10px;
    margin-left: 10px;
    height: 8px;
  }

  .frame-language {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }

  .popup-description {
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .bottom-list {
    display: flex;
    padding-left: 0;
    gap: 4%;
  }
}
