.ul {
  list-style: none;
}

.text-section {
background-image: url('img/Headerbg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

.ul1 {
  display: flex;
  justify-content: flex-end;
}

.ul2 {
  display: flex;
  padding: 0;
  margin: 0;
}

.h1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  display: flex;
}

.p1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #344563;
}

.p2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.navli {
  width: 63px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.nav-li1{
flex-grow: 8;
}
.nav-li1 a{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}


li {
  margin-right: 10px;
}



button{
    border: 0;
    background-color: #fff;
}
.div{
    background-color: #6070ff;
    width:36px;
    height: 5px ;
    margin: 5px ;

}
.box{
   
    
     align-self: flex-start;
    margin: 0 150px 0 150px;
    padding-right: 100px;
     

}
@media only screen and (max-width: 480px) {

    .nav-li2,
    .nav-li3,
    .nav-li4 {
        display: none;
    }

    .nav-li5 {
        display: inline;

    }

    .ul1,
    .nav-li1 {
        display: flex;
    }

    .nav-li1 a {
        margin-top: 10px;
        font-size: 40px;

    }

    .text-section {
        background-image: url('img/header-shapes mobile.png');
        background-size: 100% 100%;
            background-repeat: no-repeat;
            
    }
    .box{
        align-self: flex-start;
            margin: 0;
            padding-right: 0;
    }
    .p1{
        padding-bottom: 20px;
    }
    .p2{
         padding-bottom: 10px;
    }
   .ul2, li{
        margin-right: 15px;
    }


}



@media only screen and (min-width: 480px) {
    .nav-li5 {
        display: none;
    }
}